@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Viajes</h2>
        <div>
            @Html.ActionLink("Lista solicitudes de viaje", "Index", "Viaje", null, new { @class = "btn btn-default" })
        </div>
        <br />
        <div>
            @Html.ActionLink("Crear Solicitud de viaje", "Create", "Viaje", null, new { @class = "btn btn-default" })
        </div>
    </div>
    <div class="col-md-4">
        <h2>Empleados</h2>
        <div>
            @Html.ActionLink("Lista empleados", "Index", "Empleado", null, new { @class = "btn btn-default" })
        </div>
        <br />
        <div>
            @Html.ActionLink("Crear empleado", "Create", "Empleado", null, new { @class = "btn btn-default" })
        </div>
    </div>
    @*<div class="col-md-4">
        <h2>Exportar</h2>
        <div>
            <form action="/Export/Export" method="post">
                <input class="form-inline" type="datetime" name="fecha" value="" />
                <button type="submit" value="1" name="type" class="btn btn-default">Exportar por fecha</button>
            </form>
        </div>
    </div>*@

</div>